#header {


    text-align: center;
    margin-bottom: -30px;


}

#trainpic1 {

    width: 100px;
    margin-left: 950px;
    margin-top: -120px;

}

#trainpic2 {

    width: 100px;
    margin-right: 950px;
    margin-top: -170px;


}